In [24]:
import warnings
warnings.filterwarnings("ignore")

import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pydataset import data
from scipy import stats
import env

Question 1: How likely is it that you roll doubles when rolling two dice?

In [2]:
# what are the outcomes: 1,2,3,4,5,6
# what are the possible outcomes
6*6

36

In [3]:
#the total number of doubles is 6
6/36

0.16666666666666666

In [4]:
# Define the number of sides on each die
sides = 6

# Initialize an empty list to store the outcomes
outcomes = []

# Loop through all possible combinations of two dice rolls
for die1 in range(1, sides + 1):
    for die2 in range(1, sides + 1):
        # Check if the two dice rolls result in doubles
        is_doubles = die1 == die2
        # Append the outcome to the list, indicating if it's doubles or not
        outcomes.append((die1, die2, is_doubles))

# Print the table of outcomes
print("Die 1 | Die 2 | Doubles")
print("-----------------------")
for outcome in outcomes:
    die1, die2, is_doubles = outcome
    print(f"  {die1}   |   {die2}   |   {is_doubles}")

Die 1 | Die 2 | Doubles
-----------------------
  1   |   1   |   True
  1   |   2   |   False
  1   |   3   |   False
  1   |   4   |   False
  1   |   5   |   False
  1   |   6   |   False
  2   |   1   |   False
  2   |   2   |   True
  2   |   3   |   False
  2   |   4   |   False
  2   |   5   |   False
  2   |   6   |   False
  3   |   1   |   False
  3   |   2   |   False
  3   |   3   |   True
  3   |   4   |   False
  3   |   5   |   False
  3   |   6   |   False
  4   |   1   |   False
  4   |   2   |   False
  4   |   3   |   False
  4   |   4   |   True
  4   |   5   |   False
  4   |   6   |   False
  5   |   1   |   False
  5   |   2   |   False
  5   |   3   |   False
  5   |   4   |   False
  5   |   5   |   True
  5   |   6   |   False
  6   |   1   |   False
  6   |   2   |   False
  6   |   3   |   False
  6   |   4   |   False
  6   |   5   |   False
  6   |   6   |   True

In [41]:
# number of trials:
n_trials = nrows = 2
# number of dice rolls:
n_dice = ncols = 100_000

rolls = pd.DataFrame(np.random.choice([1,2,3,4,5,6], n_trials * n_dice). reshape(ncols, nrows))
rolls

       0  1
0      5  2
1      6  1
2      2  1
3      6  2
4      1  2
...   .. ..
99995  4  1
99996  2  2
99997  4  1
99998  5  4
99999  5  6

[100000 rows x 2 columns]

In [42]:
# are the two numbers equal to each other?
doubles = rolls[0] == rolls[1]
doubles

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996     True
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [44]:
# probability
probability_doubles = doubles.mean()
probability_doubles

0.16616

Question 2: If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [45]:
# trial: one coin flip
# outcomes: heads/tails
# successs: getting heads
# possible outcomes: 
2*2*2*2*2*2*2*2

256